# Node & dépendances
node_modules/
**/node_modules/
pnpm-lock.yaml.lock

# Next.js
.next/
out/
.next/cache/

# Turborepo
.turbo/

# Environnement local
*.env
.env.local
next-env.d.ts

# Logs & caches divers
npm-debug.log*
yarn-debug.log*
lerna-debug.log*
*.log
.cache/

# Artefacts de build
*.gz
dist/
tsconfig.tsbuildinfo
.tsbuildinfo
